.map {
    height: 30vh;
  }

  .label {
    background-color: #00cccc !important;
    border-color: #00cccc !important;
    font-size: 9px !important;
    padding: 0px 7px 0px 7px !important;
  }

  hr {
    margin-top: 0px !important;
    margin-bottom: 10px !important;}

    .navbar-fixed-top {
        background-color: #f8f8f8;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        top: 0;
        border-width: 0 0 1px;

      }

      #menu1 {
        padding: 1.2em 0 !important;
    }

    menu1 {
        margin-top: 20vh !important;

   }

   .containercustommargin {
    margin-top: 11vh;

}
.videobg .container .background-image-holder {
  opacity : 1!important ;
}

.type--fine-print {
  font-size: 0.85714286em;
}

.container {
  max-width: 100%;
}

> footer {
  background-color: #ff6633;
    width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
    &:hover {
      box-shadow: 0 0 2rem gray;
    }
}

.footer {
 background-color: #ff6633;
   width: 100%;
   padding: 1rem;
   margin: .5rem 1rem;
   text-align: center;
   transition: 200ms;
}
