.map {
    height: 30vh;
  }
  
  .label {
    background-color: #00cccc !important;
    border-color: #00cccc !important;
    font-size: 9px !important;
    padding: 0px 7px 0px 7px !important;
  }
  
  hr {
    margin-top: 0px !important;
    margin-bottom: 10px !important;}

.navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        top: 0;
        border-width: 0 0 1px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3); 
      }

body > div.navbar-fixed-top > section {
    background-color: #e8e6e6  !important;
    color:black !important;
} 

.bar{
    background-color: #f1f1f1;
}

#menu1 > div > div > div.col-md-1.col-sm-2.hidden-xs > div > a > img.logo.logo-dark {
    max-height: 0em !important;
    max-width: 7vh !important;
}

body > div.main-container > section > div > div > div.col-md-4 > div > div:nth-child(3) > ul > div {
    padding: 0em !important;
}

/* Extra-Small devices (tablets, >768px) */
@media screen and (max-width: 767px) { 
    .navbarcustommargin {
    margin-top: 3vh !important; }  
.genericcustommargin {
    margin-top: 2vh !important; }  
}
  
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) { 
    .navbarcustommargin {
        margin-top: 15vh !important; }  
        .genericcustommargin {
            margin-top: 8vh !important; }  
        }
    
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
    .navbarcustommargin {
        margin-top: 7vh !important; }  
        .genericcustommargin {
            margin-top: 8vh !important; }  
        }
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .navbarcustommargin {
        margin-top: 13vh !important; }  
        .genericcustommargin {
            margin-top: 2vh !important; }  
        }

#messenger-icon {
    width: 1.14285714285714em;
    margin-bottom: 0.8vh !important;
    
}   